.vscode
grpc/build
grpc/include/*.pb.h
grpc/src/*.pb.cc
php/.libs
php/Makefile
php/Makefile.fragments
php/Makefile.global
php/Makefile.objects
php/acinclude.m4
php/aclocal.m4
php/autom4te.cache
php/build
php/classes/.libs
php/classes/*.lo
php/config.guess
php/config.h
php/config.h.in
php/config.log
php/config.nice
php/config.status
php/config.sub
php/configure
php/configure.ac
php/faiss_api.loT
php/install-sh
php/libtool
php/ltmain.sh
php/missing
php/mkinstalldirs
php/modules
php/php_faiss.loT
php/run-tests.php
